:root {
  --color-1: #adc5d9;
  --color-2: #50b4bf;
  --color-2-dark: #367880;
  --color-3: #f26835;
  --color-4: #f24c3d;
  --color-5: #73241d;
  --color-5-light: #C04033;
  --color-light: #f1f1f1;
  --color-light-gray: #e2e2e2;
  --color-black: #040404;
}
/* Styles */
html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--color-light);
  width: 100%;
}
h1,h2,h3,h4,h5,h6,p {
  margin:0;
  padding:0;
  color: var(--color-black);
}
a {
  color: var(--color-5);
  transition: color .5s ease-in-out;
}
a:hover {
  color: var(--color-5-light);
}
a:active {
  color: var(--color-5-light);
}
ul, ol, dl {
  margin: 0;
}

nav {
  display: block;
  width: 100%;
  background: var(--color-light);
  margin: 0;
  height: 3em;
  position: relative;
  line-height: 1;
  position: sticky;
  top: 0;
  z-index: 99;
}
nav > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
nav > ul > li.brand > h1 {
  padding: 1em;
  font-size: 1em;
}
nav > ul > li > a {
  padding: 1em;
  display: block;
  text-decoration: none;
  color: var(--color-5);
  font-weight: 600;
  transition: all .5s ease-in-out;
}
nav > ul > li > a:hover {
  color: var(--color-5-light);
  background: var(--color-light-gray);
}

dl > dt {
  font-weight: 600;
  transition: all .5s ease-in-out;
}
dl > dt::before {
  content: '🟊';
  color: var(--color-1);
  opacity: .5;
  padding: 0 0.5em;
  transition: opacity .5s ease-in-out;
}
dl > dt:hover {
  background: var(--color-5-light);
}
dl > dt:hover::before {
  opacity: 1;
}
dl > dt + dd {
  transition: all .5s ease-in-out;
}
dl > dt:hover + dd {
  background: var(--color-5-light);
}
dl > dd {
  padding: 0 0.5em;
}

/* Layout */
section.container {
  display: block;
  position:relative;
  min-height:calc(100vh + 3em);
  padding: 0 1em;
}
section.container:last-of-type {
  min-height: 100vh;
}
section.container::before {
  display: block;
  content: ' ';
  margin-top: -3em;
  height: 3em;
  visibility: hidden;
  pointer-events: none;
}
section.container {
  padding: 0 17.5%;
}

div.content-container {
  padding: 1em 0 4em 0;
  display: flex;
  flex-wrap: wrap;
}
div.content-container > div {
  margin: 0 1em;
  padding: 0 1em;
}
div.col-6 {
  width: calc(50% - 4em);
}
div.col-12 {
  width: calc(100% - 4em);
}

/* Components */
span.badge {
  background: var(--color-light-gray);
  padding: 0.125em 0.25em;
  font-size: .75em;
}
span.badge.pill {
  padding: 0.125em 0.4em;
  border-radius: 10px;
}

code {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin: 0.25em 0;
  font-family: 'Fira Code', monospace;
  background: var(--color-1);
  font-size: 0.75em;
}
code.code-inline {
  width: auto;
  display: inline-block;
}
code.code-bash::before {
  content: '$ ';
}
code span.code-variable {
  color: var(--color-5);
}

/* Utilities */
.bg-1 {
  background: var(--color-1);
}
.bg-2 {
  background: var(--color-2);
}
.bg-3 {
  background: var(--color-3);
}
.bg-4 {
  background: var(--color-4);
}
.bg-5 {
  background: var(--color-5);
}